body {background-color:#222;}
main {
    width:500px;
    /* 부모의 너비값 고정이 되어 있을 경우 그 자식, 자손 중 블록에 해당하는 모든 요소는 부모의 너비만큼(w:100%) 자동으로 크기를 인식한다.*/
    margin:97px auto 0; 
}
main h1 {text-align:center; margin:0 0 87px;}
main h1 a {}
main h1 a img {}
main .tab_menu {
    text-align:center; margin:0 0 52px;
}
main .tab_menu a {
    display:inline-block;
    font-size:1.25rem; letter-spacing:-0.02em;
    padding:5px 10px; color:#fff;
}
/* first-child, last-child */
main .tab_menu a:first-child {margin-right:136px;}
main .tab_menu .active {border-bottom:3px solid #1ED760;}
main .tab_wrap {}
main .tab_wrap #inFrm {display:none;}
main .tab_wrap #inFrm ul {margin-bottom:31px;}
main .tab_wrap #inFrm ul li {
    background-color:#fff;
    padding:25px 40px;
    border-radius:36.5px;
}
main .tab_wrap #inFrm ul li:first-child {margin-bottom:14px;}
main .tab_wrap #inFrm ul li input {
    width:100%; letter-spacing:-0.02em;
}
main .tab_wrap #inFrm ul li input::placeholder {color:#aaa;}
main .tab_wrap #inFrm ul li input[name$=name] {}
main .tab_wrap #inFrm ul li input[name$=pw] {}
main .tab_wrap #inFrm .stay_in {margin:0 0 33px;}
main .tab_wrap #inFrm .stay_in #stay_on {}
/* HTML checkbox, radio는 CSS에서 세부디자인이 불가능하기 때문에 reset에서 apearance:none으로 숨겨놓고 포토샵, 피그마 등을 이용한 별도의 아이콘 디자인을 준비한 후 background-image로 연결해야한다.
숨겨놓은 checkbox, radio는 그 대상과 연결한 label을 통해 선택이 가능하게 하고 배경이미지 또한 label에 대부분 선언해준다. */
/* 상태선택자 (a, form에서 주로 사용) */
main .tab_wrap #inFrm .stay_in #stay_on:checked+label {background-color:aqua;
    background-image:url(../images/check_y.png);
}
main .tab_wrap #inFrm .stay_in label {
    color:#fff; leter-spacing:-0.02em;
    background-image:url(../images/check_n.png);
    background-repeat:no-repeat;
    padding-left:34px;
    background-position:0 2px;
}
main .tab_wrap #inFrm .btn {
    background-color:#1ED760; color:#fff;
    border-radius:36.5px;
    padding:25px 0; width:100%
}
main .tab_wrap #inFrm .btn .sign_in_btn {
    color:#fff;
    width:100%; font-weight:700; 
}
main .tab_wrap #inFrm .forget_pw {
    color:#fff;
    display:block; margin:14px 0 0;
    text-align:center;
}
/* Sign up 클릭 시 나오는 내용 스타일 */
/* 공용선택자 */
main .tab_wrap #upFrm {} /* {display:none;} */
main .tab_wrap #upFrm .content {background-color:aqua;
    margin-bottom:32px;
}
main .tab_wrap #upFrm .content ul {}
main .tab_wrap #upFrm .content ul li {}
main .tab_wrap #upFrm .content ul .date {background-color:brown;
    border-radius:36.5px; padding:15px 40px; margin-bottom:10px;
}
main .tab_wrap #upFrm .content ul li input {background-color:pink;
    width:100%
}
main .tab_wrap #upFrm .content ul .dup_btn {}
main .tab_wrap #upFrm .content ul .dup_btn button {}
main .tab_wrap #upFrm .content .sub_txt { background-color:red;
    font-size:0.81rem; letter-spacing:-0.02em; line-height:1.3;
    color:#ccc; padding:0 40px;
}
/* ==================================================username */
main .tab_wrap #upFrm .id_wrap {}
main .tab_wrap #upFrm .id_wrap ul {overflow:hidden;}
main .tab_wrap #upFrm .id_wrap ul li {
    display:inline-block;
}
main .tab_wrap #upFrm .id_wrap ul .id {width:354px; float:left;}
main .tab_wrap #upFrm .id_wrap ul .id input {}
main .tab_wrap #upFrm .id_wrap ul .name_dup_btn {
    float:right;}
main .tab_wrap #upFrm .id_wrap ul .name_dup_btn button {background-color:orange;}
main .tab_wrap #upFrm .id_wrap p {}
/* ==================================================password */
main .tab_wrap #upFrm .pw_wrap {}
main .tab_wrap #upFrm .pw_wrap ul {}
main .tab_wrap #upFrm .pw_wrap ul li {}
main .tab_wrap #upFrm .pw_wrap ul .pw {}
main .tab_wrap #upFrm .pw_wrap ul .pw input {}
main .tab_wrap #upFrm .pw_wrap ul .pw_check {}
main .tab_wrap #upFrm .pw_wrap ul .pw_check input {}
main .tab_wrap #upFrm .pw_wrap .sub_txt {}
/* ==================================================email */
main .tab_wrap #upFrm .email_wrap {}
main .tab_wrap #upFrm .email_wrap .email {}
main .tab_wrap #upFrm .email_wrap .email p {}
main .tab_wrap #upFrm .email_wrap .email input {}
main .tab_wrap #upFrm .email_wrap p:nth-child(2) {}
main .tab_wrap #upFrm .email_wrap .email_menu {}
main .tab_wrap #upFrm .email_wrap .email_menu option {}
/* ==================================================phone number */
main .tab_wrap #upFrm .phone_number_wrap {}
main .tab_wrap #upFrm .phone_number_wrap ul {overflow:hidden;}
main .tab_wrap #upFrm .phone_number_wrap ul li {display:inline-block;}
main .tab_wrap #upFrm .phone_number_wrap ul .phone {width:354px; float:left;}
main .tab_wrap #upFrm .phone_number_wrap ul .phone input {}
main .tab_wrap #upFrm .phone_number_wrap ul .phone_dup_btn {float:right;}
main .tab_wrap #upFrm .phone_number_wrap ul .phone_dup_btn button {}
main .tab_wrap #upFrm .phone_number_wrap .sub_txt {}
/* ============================================================== */
main .tab_wrap #upFrm .btn {}
main .tab_wrap #upFrm .btn .sign_up_btn {}