header {
    width:1152px; margin:0 auto;
}
/* =======================header top */
header .top {
    height:48px;
    /* lnb+mylnb 자식을 정렬하기 위한 flex적용부모 */
    display:flex; 
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
}
header .top .lnb {
    /* 서울특별시 h1~응답소 a 자식을 정렬하기 위한 flex적용부모 */
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
}
header .top .lnb h1 {}
header .top .lnb h1 a {}
header .top .lnb h1 a img {}
header .top .lnb > a {
    margin-left:20px;
    letter-spacing:-0.02em;
}
header .top .my_lnb {
}
header .top .my_lnb a {margin-left:20px; letter-spacing:-0.02em;}
header .top .my_lnb a:first-child {margin:0}
/* =======================header bottom */
header .bottom {
    height:119px;
    /* 로고h1~언어div 자식을 묶는 flex적용부모 */
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
    justify-content: space-between;
}
header .bottom h1 {}
header .bottom h1 a {}
header .bottom h1 a img {}
header .bottom #searchFrm {
    background-color:#fff;
    width:369px; height:46px;
    border:2px solid #1e6cb3; padding:0 20px;
    /* input+button 정렬을 위한 flex부모 */
    display:flex; flex-flow:row nowrap; 
    justify-content: space-between; align-items:center;
}
header .bottom #searchFrm input[name*=search] {}
header .bottom #searchFrm input[name*=search]::placeholder {color:#1e6cb3;}
header .bottom #searchFrm .search_btn {}
header .bottom .lang {}
header .bottom .lang select[name*=lang] {
    border:1px solid #1e6cb3; height:29px; width:93px;
    padding-left:10px; font-size:0.813rem;
}
header .bottom .lang select[name*=lang] option {}
header .bottom .lang .lang_btn {
    background-color:#1e6cb3; color:#fff; 
    height:29px; width:30px; font-size:0.813rem;
}
/* =======================main */
main {}
/* =======================main 1. 상단 이벤트+공지사항 배너*/
main .visual_container {
    width:1152px; margin:0 auto;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
}
main .visual_container .corona_notice {position:relative;}
main .visual_container .corona_notice img {}
main .visual_container .corona_notice .close {
    background-color:#1e6cb3; color:#fff; display:inline-block;
    padding:10px; border-radius:5px;
    position:absolute; bottom:10px; right:10px;
}
main .visual_container .right_container {width:360px;}
main .visual_container .right_container .corona {position:relative; margin-bottom:10px;}
main .visual_container .right_container .corona img {}
main .visual_container .right_container .corona span {position:absolute; display:block;}
main .visual_container .right_container .corona .date {top:11px; right:20px;}
main .visual_container .right_container .corona .data {text-align:center; color:#fff;}
main .visual_container .right_container .corona .data1 {width:140px; top:80px; left:30px;}
main .visual_container .right_container .corona .data2 {width:140px; top:80px; right:30px;}
main .visual_container .right_container .corona .data3 {width:94px; bottom:58px; left:30px;}
main .visual_container .right_container .corona .data4 {width:94px; bottom:58px; right:121px;}
main .visual_container .right_container .corona .data5 {width:59px; bottom:58px; right:30px;}
main .visual_container .right_container .traffic {}
main .visual_container .right_container .traffic a {}
main .visual_container .right_container .traffic img {}
/* =======================main 2~5 ★공통제목디자인★ */
main > * {width:1152px; margin:50px auto 0;}
main > * .title {
    padding-bottom:20px; border-bottom:1px solid #CCC;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between; align-items:center;
}
main > * .title h1 {
    font-size:1.44rem; font-weight:500; letter-spacing:-0.02em;
}
main > * .title .more_view {
    padding:10px; border:1px solid #aaa; letter-spacing:-0.02em;
}
/* =======================main 2.주요서비스 */
main .service_container {}
main .service_container .title {}
main .service_container .title h1 {}
main .service_container .title h1 .more_view {}
main .service_container .content {
    display:flex; flex-flow:row nowrap;
    justify-content:space-around;
}
main .service_container .content a {
    display:flex; flex:1; flex-flow:column nowrap;
    align-items:center; padding:20px 0;

}
main .service_container .content a span {
    width:60px; height:60px;
    margin-bottom:15px;
    background-image:url(../images/service.png);
}
main .service_container .content a em {font-size:0.81rem; letter-spancing:-0.02em;}
main .service_container .content a:nth-child(1) span {}
main .service_container .content a:nth-child(2) span {background-position-x:-60px}
main .service_container .content a:nth-child(3) span {background-position-x:-120px}
main .service_container .content a:nth-child(4) span {background-position-x:-180px}
main .service_container .content a:nth-child(5) span {background-position-x:-240px}
main .service_container .content a:nth-child(6) span {background-position-x:-300px}
main .service_container .content a:nth-child(7) span {background-position-x:-360px}
main .service_container .content a:nth-child(8) span {background-position-x:-420px}
main .service_container .content a:nth-child(9) span {background-position-x:-480px}
main .service_container .content a:nth-child(10) span {background-position-x:-540px}
main .service_container .content a:nth-child(11) span {background-position-x:-600px}
/* =======================main 풀스크린 컨텐츠 */
main .corona_container {
    background-color:#EFF4F8;
    width:100%;
}
main .corona_container .contents {
    width:1152px; margin:0 auto; padding:50px 0;
    display:flex; flex-flow:row nowrap;
}
main .corona_container .contents a {flex:1;}
main .corona_container .contents a img {width:100%;}
/* =======================main 3. 신청+축제+서비스 */
main .event_container {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
}
main .event_container .contents {
    width:calc(100% / 3); margin-right:22px;}
main .event_container .contents .title {}
main .event_container .contents .title h1 {}
main .event_container .contents .title .more {}
main .event_container .contents .title .more img {}
main .event_container .contents .list {margin-top:15px;}
main .event_container .contents .list li {
    display:flex; flex-flow:row nowrap;
    margin-bottom:25px;
}
main .event_container .contents .list li:last-child {margin:0;}
main .event_container .contents .list li .category {width:40px;}
main .event_container .contents .list li a {
    /* 자동줄바꿈 및 말줄임 처리 */
    white-space:nowrap; width:calc(100% - 40px);
    overflow:hidden;
    text-overflow:ellipsis;

}
/* =======================main 3. 카테고리별 색상 */
main .event_container .contents .list li .admin {color:#028ab6} /* 행정 */
main .event_container .contents .list li .environment {color:#599100} /* 환경 */
main .event_container .contents .list li .welfare {color:#d76000} /* 복지 */
main .event_container .contents .list li .housing {color:#c35c3c} /* 주택 */
main .event_container .contents .list li .culture {color:#9b64d3} /* 문화 */
main .event_container .contents .list li .economy {color:#069363} /* 경제 */
/* =======================main 3-1. 이벤트신청 */
main .event_container .event_apply {}
main .event_container .event_apply .title {}
main .event_container .event_apply .title h1 {}
main .event_container .event_apply .title .more {}
main .event_container .event_apply .title .more img {}
main .event_container .event_apply .list {}
main .event_container .event_apply .list li {}
main .event_container .event_apply .list li .category {}
main .event_container .event_apply .list li a {}
/* =======================main 3-2. 이달행사축제 */
main .event_container .month_event {}
main .event_container .month_event .title {}
main .event_container .month_event .title h1 {}
main .event_container .month_event .title .more {}
main .event_container .month_event .title .more img {}
main .event_container .month_event .list {}
main .event_container .month_event .list li {}
main .event_container .month_event .list li .category {}
main .event_container .month_event .list li a {}
/* =======================main 3-3 자주찾은서비스 */
main .event_container .service_visit {margin:0;}
main .event_container .service_visit .title {}
main .event_container .service_visit .title h1 {}
main .event_container .service_visit .list {background-color:#EFF4F8;
    padding:13px;
    display:flex; flex-flow:row wrap;
    justify-content:space-between;
}
main .event_container .service_visit .list li {
    width:calc(100% / 2); margin-bottom:25px;
}
main .event_container .service_visit .list li:nth-child(9),
main .event_container .service_visit .list li:nth-child(10) {margin:0;}
main .event_container .service_visit .list li .category {}
main .event_container .service_visit .list li a {}
/* =======================main 4 분야정보 */
main .info_container {}
main .info_container .title {}
main .info_container .title h1 {}
main .info_container .contents {
    padding:20px 0;
    display:flex; flex-flow:row nowrap;
    justify-content:space-around;
}
main .info_container .contents a {
    display:flex; flex-flow:column nowrap;
    align-items:center;
}
main .info_container .contents a span {
    width:104px; height:111px;
    margin-bottom:10px;
    background-image:url(../images/category_info.png);
}
main .info_container .contents a:nth-child(1) span {}
main .info_container .contents a:nth-child(2) span {background-position-x:-104px;}
main .info_container .contents a:nth-child(3) span {background-position-x:-208px;}
main .info_container .contents a:nth-child(4) span {background-position-x:-312px;}
main .info_container .contents a:nth-child(5) span {background-position-x:-416px;}
main .info_container .contents a:nth-child(6) span {background-position-x:-520px;}
main .info_container .contents a:nth-child(7) span {background-position-x:-624px;}
main .info_container .contents a:nth-child(8) span {background-position-x:-728px;}
main .info_container .contents a em {letter-spacing:-0.02em;}
/* =======================main 5 새소식 */
/* calc(100%-총여백) / 한줄에 들어오는 열 개수 */
main .new_container {padding-bottom:50px;}
main .new_container .title {}
main .new_container .title h1 {}
main .new_container .title .more_view {}
main .new_container .contents {
    display:flex; flex-flow:row wrap;
    justify-content:space-between;
    margin-top:44px;
}
main .new_container .contents li {
    width:calc((100% - 39px) / 4);
    margin-bottom:30px;
}
main .new_container .contents li:nth-child(5),
main .new_container .contents li:nth-child(6),
main .new_container .contents li:nth-child(7),
main .new_container .contents li:nth-child(8) {margin:0;}
main .new_container .contents li a {}
main .new_container .contents li a img {width:100%; margin-bottom:10px;}
main .new_container .contents li a span {
    font-size:0.88rem; line-height:1.5; letter-spacing:-0.02em;
}
/* =======================footer */
footer {width:1152px; margin:0 auto;}
footer .top {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
    padding:20px 0; position:relative;
    border:1px solid #CCC;
    border-left:0; border-right:0;
}
footer .top .menu {
    display:flex; align-items:center;
}
footer .top .menu a {letter-spacing:-0.02em;}
footer .top .menu a::after {
    display:inline-block; width:1px; height:10px;
    background-color:#000; content:''; margin:0 10px;
    position:relative; top:-1px;
}
footer .top .menu a:last-child::after {display:none; margin:0;} 
footer .top .sns {display:flex;}
footer .top .sns a {
    width:25px; height:25px;
    background-image:url(../images/sns_sprite.png);
    margin-right:10px;
}
footer .top .sns a:hover {background-position-y:-25px;}
footer .top .sns a:nth-child(1) {}
footer .top .sns a:nth-child(2) {background-position-x:-25px}
footer .top .sns a:nth-child(3) {background-position-x:-50px}
footer .top .sns a:nth-child(4) {background-position-x:-75px}
footer .top .sns a:nth-child(5) {background-position-x:-100px}
footer .top .sns a:nth-child(6) {background-position-x:-125px}
footer .top .sns a:last-child {margin:0;}
footer .top .sns a span {display:none;}
footer .bottom {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between; padding:30px 0;
}
footer .bottom address {
    line-height:1.8; letter-spacing:-0.02em;
}
footer .bottom address a {
    border-bottom:1px solid #000;
}
footer .bottom .mark {}
footer .bottom .mark a {}
footer .bottom .mark a:first-child {margin-right:10px;}
footer .bottom .mark a img {}