body { background-color:beige; }
p { color:coral; }

h1 { background-color:bisque; color:mediumvioletred; }
h2 { background-color:darkseagreen; color:purple; }
#group2 em { color:red; }
#group2 p { background-color:blue; }